
@font-face {
	font-family: 'Open Sans';
	src: url('./assets/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('./assets/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./assets/OpenSans-SemiBold.woff') format('woff'),
		url('./assets/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./assets/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('./assets/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('./assets/OpenSans-ExtraBold.woff') format('woff'),
		url('./assets/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}